.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

#divGlobal{
  width:100%;
}
#divLeft, #bloc-center, #ajoutRestaurant {
  display: inline-block;
  vertical-align: top;
}
#divLeft{
  width: 20%;
}
#bloc-center{
  width:60%; 
  
}

#ajoutRestaurant{
  border: 1px solid;
  width: 17%;
  height:250px ;
  border-radius: 10px;
  border-color:black;
}
#deleteBtn{
  border: 1px solid;
  border-radius: 2px;
  height: 20px;
  margin-left:15px;
}
#edit{
  border: 1px solid;
  border-radius: 2px;
  width: 50px;
  height: 20px;
  margin-left:2px;
  
}
#formAjout{
  border-radius: 10px;
  border-color: black;

}
#AjoutRestoInp{
  border: 1px solid;
  border-radius: 3px;
  margin:10px;
  height: 25px;
  border-color: black;
}
#AjoutResto{
  margin:10px;
}
h3{
  margin-left: 10px;
}
#boutonAjout{
  border: 1px solid;
  border-radius: 3px;
  height:25px;
  margin-left:10px;
  color: r1ed;
  border-color: black;
}
#myTable{
  width: 900px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
th {
  background-color:black;
  border:1px solid #282c34;

}
#entete{
  margin-left: 20%;
}

#nbElemAfficher{
  width: 900px;
}

#blocRecherche input {
  width: 895px;
  height: 30px;
  border-radius: 5px;

}
td{
  border-collapse:collapse;
  border:1px solid #282c34;
  height: 50px;
  top: 0%;
}
p{
  color: blanchedalmond;
}
label{
  width: 190px;
  height:50px ;
}

select{
  width: 750PX;
  height: 30px;
  float: right;
  border-radius: 4px;
}
#createButton{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: black;
  background-color: black;
}
#createButton p{
  color: white;
}
#idButton1, #idButton2, #idButton3, #idButtonMax{
  width: 45px;
  height: 45px;
  margin-right: 1px;
  background-color: black;
  border-radius: 5px;
}
#myTable{
  border-collapse:collapse;
} 
tbody{
  border:2 px solid black;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
