.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

#divGlobal{
  width:100%;
}
#divLeft, #bloc-center, #ajoutRestaurant {
  display: inline-block;
  vertical-align: top;
}
#divLeft{
  width: 20%;
}
#bloc-center{
  width:60%; 
  
}

#ajoutRestaurant{
  width: 20%;
  background-color: antiquewhite;
 /* display :none;*/
}

#formAjout{
  background-color: blue;
}

#myTable{
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
th {
  width: 300px;
  background-color:black;
  border:1px solid #282c34;

}
#entete{
  margin-left: 20%;
}
#inputtaille{
  width: 900px;
  height: 30px;
}
td{
  border-collapse:collapse;
  border:1px solid #282c34;
  height: 50px;
  top: 0%;
}
p{
  color: blanchedalmond;
}

#myTable{
  border-collapse:collapse;
} 
tbody{
  border:2 px solid black;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
